@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #0d0d00d;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Poppins" Arial, Helvetica, sans-serif;
}
body,
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
nav {
	transition: all 0.3s ease-in-out;
}
button:focus {
	outline: none;
}

.sec-3 {
	/* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/image/roofing-bg.jpg); */
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
}