@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #0d0d00d;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Poppins" Arial, Helvetica, sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

nav {
	transition: all 0.3s ease-in-out;
}

button:focus {
	outline: none;
}

.sec-3 {
	/* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/image/roofing-bg.jpg); */
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
}
.gal-img {
	margin: 1em;
	columns: 400px;
}

.gal-img img {
	width: 100%;
	margin-bottom: 1em;
}

/* About Us */

.row h2 {
	font-family: "Inter", serif;
}
.row p {
	padding: 2rem;
	line-height: 2rem;
	color: white;
	font-family: "Inter", serif;
}

.bout-box {
	width: 390px;
	height: inherit;
	background-color: #006800;
	border-radius: 2rem;
}

.bout-box:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.context h1, .context p {
	font-family: "Inter", serif;
}

.fade-in {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .fade-in.visible {
	opacity: 1;
	transform: translateY(0);
  }

  /* Contact */

  .sec2-contact {
    margin: 5% 8%;
    background-color: #ffcb00;
    border-radius: 5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}